---
layout: post
title: Just blogging
---
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link href="{{ site.url }}/assets/css/blog.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div class="container">

      <div class="blog-header">
          <h1 class="blog-title">Andrey Kaygorodov</h1>
          <p class="lead blog-description">Just my on-line diary</p>
      </div>

      <div class="row">

          <div class="col-sm-8 blog-main">
             {% for post in site.posts %}
              <div class="blog-post">
              <h2 class="blog-post-title">{{ post.title }}</h2>
              <p class="blog-post-meta">{{ post.date | date_to_string }}</p>

                  <p>{{ post.content }}</p>

              </div>
             {% endfor %}

              <!--&lt;!&ndash; Pagination links &ndash;&gt;-->
              <!--<ul class="pager">-->
                  <!--&lt;!&ndash;<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>&ndash;&gt;-->
                  <!--{% if paginator.previous_page %}-->
                  <!--<li><a href="/page{{ paginator.previous_page }}">Previous</a></li>-->
                  <!--{% endif %}-->
                  <!--{% if paginator.next_page %}-->
                  <!--<li><a href="/page{{ paginator.next_page }}">Next</a></li>-->
                  <!--{% endif %}-->
              <!--</ul>-->

          </div><!-- /.blog-main -->


          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
              <div class="sidebar-module sidebar-module-inset">
                  <h4>About</h4>
                  <p>Programming, programming, programming...</p>
              </div>
              <div class="sidebar-module">
                  <h4>Archives</h4>
                  <ol class="list-unstyled">
                      <li><a href="#">January 2014</a></li>
                  </ol>
              </div>
              <div class="sidebar-module">
                  <h4>Elsewhere</h4>
                  <ol class="list-unstyled">
                      <li><a href="http://github.com/kaygorodov/">GitHub</a></li>
                      <li><a href="https://twitter.com/kaygorodov">Twitter</a></li>
                  </ol>
              </div>
          </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

  </div><!-- /.container -->

  <div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
          <a href="#">Back to top</a>
      </p>
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>